<div class="card">
  <div class="card-body">
    <p><%= restaurant.address %></p>
    <p><%= restaurant.category %></p>
    <small><%= restaurant.phone_number || "pas de numéro de téléphone" %></small>
  </div>
</div>
